#search-section {
    padding-top: 20px;
}
.ed-search-form-container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
@media (width >=576px) {
    #search-section {
        padding-top: 40px;
    }

    .ed-search-form-container {
        max-width: 500px;
    }
}