@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --ed-color-bg-primary: #e8e8ee;
  --ed-color-bg-secondary: #6ee962d7;
  --ed-color-bg-tertiary: #636363;
  --ed-color-bg-quaternary: #000000ab;
  --ed-color-card-bg: #fff;
  --ed-color-card-border: #d9d9d9;

  --ed-color-font-primary: #fff;
  --ed-color-font-secondary: #636363;
  --ed-color-font-tertiary: #0caf1d;

  --ed-color-font-placeholder: #d9d9d9;

  --ed-color-btn-primary: #6ee962d7;
  --ed-color-btn-inverse: #fff;
  --ed-color-error: #f33;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--ed-color-bg-primary);
}

main {
  padding: 0 20px;
}

.ed-mb20 {
  margin-bottom: 20px;
}

.ed-mt20 {
  margin-top: 20px;
}

.ed-container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.ed-section-title {
  color: var(--ed-color-font-secondary);
  font-size: 18px;
  text-align: center;
}
.ed-card {
  background-color: var(--ed-color-card-bg);
  border-radius: 4px;
  border: 1px solid var(--ed-color-card-border);
}

.ed-line-bottom {
  border-bottom: 1px solid var(--ed-color-card-border);
}

.ed-btn {
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ed-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.ed-form h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--ed-color-font-secondary);
  text-align: center;
}

.ed-form-controls-container {
  width: 100%;
  display: grid;
  gap: 20px;
  margin: 20px 0;
}

.ed-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--ed-color-font-secondary);
  border-radius: 4px;
  border: 1px solid var(--ed-color-card-border);
}

.ed-form-error {
  color: var(--ed-color-error);
  font-size: 12px;
  padding-left: 4px;
  display: none;
}

.ed-form-control:focus {
  outline: none;
}

.ed-form-control::placeholder {
  color: var(--ed-color-font-placeholder);
}

@media (width >=576px) {
  .ed-form h2 {
    font-size: 24px;
  }
  .ed-section-title {
    font-size: 22px;
    text-align: justify;
  }
}

/*para estilizar a lista futuramente*/
.ed-company-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}